@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');

::before, ::after {
    margin: 0.5;
    padding: 0.5;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}
body {
  background-image: url('assets/imagenes/wallpaperp.jpg');
}

